<div>
    <div class="form-group">
        <label>Credit Card Number</label>
        <input type="text" 
            name="credit-card" 
            placeholder="Enter your 16 digit card number" 
            credit-card>
    </div>
    <label
        tooltip="3 digits, back of your card"
        #myTooltip="tooltip">
        Enter your security code
        <span (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()">(?)</span>
        <input type="text">
    </label>
</div>