:host {

    > div {
        border: 1px solid #ccc;
        max-width: 450px;
        padding: 30px;
    }

    .form-group {
        display: flex; 
        flex-wrap: wrap;

        label {
            font-size: 18px;
            margin-bottom: 15px;
            width: 100%;
        }

        input {
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 13px;
            line-height: 20px;
            padding: 10px;
            width: 100%;
        }
    }
}